/* AdBar kapsayıcısı */
.sliding-adbar-container {
  overflow: hidden;
  background-color: #AA121E;
  padding: 10px 0;
  white-space: nowrap;
}

/* İçeriklerin bulunduğu alan */
.sliding-content {
  display: flex;
  width: 200%; /* İçeriklerin kayması için genişlik */
  animation: slide 15s linear infinite;
}

/* Reklam setleri */
.ad-set {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

/* Animasyon */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Responsive ayarlar */
@media (max-width: 768px) {
  .ad-set span {
    font-size: 0.875rem;
    padding: 0 10px;
  }
}
